/*
If we were using a local file for fonts we can import them like this

@font-face {
 font-family: 'Inter';
 src: url('../location/of-font-file.tff');
}

But we are not we are linking to them on Google Fonts directly from the HTML
*/

:root {
  --font-family: "Inter", sans-serif;
  --color-primary: #ff7b54;
  --color-text-on-primary: #fff;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 34px;
  grid-template-rows: 1fr;
  grid-template-areas: "logo nav shopping-cart";
  align-items: center;
  padding: 0 60px;
}

.header__link {
  font-size: 40px;
  font-weight: bold;
}

.nav {
  display: inline-block;
  justify-self: end;
}

.nav__list{
  list-style: none;
  display: flex;
  gap: 36px;
  margin-right: 36px;
}

.nav__list-item {
  font-size: 20px;
}
